.parent {
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.experiences {
    text-align: left;
    font-size: 16px;
    margin-top: 0px;
}

.parent img {
    align-self: center;
    max-width: 90%;
}

h1 {
    margin-bottom: 16px;
    max-width: 90%;
}