.cards-list {
  max-width: 60rem;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:nowrap;
  gap: 20px;
  overflow-x:auto;
}